@import url("../vendor/normalize.css");

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"),
    url("../fonts/Jetbrainsmonoregular.woff2") format("woff2"),
    url("../fonts/Jetbrainsmonoregular.woff") format("woff"),
    url("../fonts/Jetbrainsmonoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.page {
  margin: 0 auto 0;
  max-width: 1120px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 1fr 1fr;
  grid-template-areas:
    "title title"
    "visuals parameters"
    "visuals characteristics";
  gap: 3px 5px;
  background-color: #ebecf4;
}

@media all and (max-width: 1180px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "title"
      "visuals"
      "parameters"
      "characteristics";
  }
}

.main-title {
  margin: 0;
  grid-area: title;
  font-family: "JetBrains Mono", "Lucida Console", Monaco, monospace;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  border-radius: 0 4px 0 4px;
  z-index: 1;
  font-family: "JetBrains Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  line-height: 1.43;
  color: #333;
  font-weight: normal;
  font-style: normal;
}

.label {
  margin: 12px 0 12px;
  display: block;
  font-family: "JetBrains Mono", "Lucida Console", Monaco, monospace;
  font-size: 13px;
  line-height: 1.43;
  color: #333;
  font-weight: normal;
  font-style: normal;
}

.input {
  max-width: 50px;
}

.visuals {
  width: 100%;
  height: 100%;
  grid-area: visuals;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.parameters {
  padding: 30px 28px;
  position: relative;
  grid-area: parameters;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px;
}

.characteristics {
  padding: 30px 28px;
  position: relative;
  grid-area: characteristics;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  overflow-x: auto;
  border-radius: 4px;
}

.character {
  display: inline-block;
  padding: 1px 5px;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
}

.character_need-play {
  border: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  background: center / contain no-repeat url("../img/play.svg");
}
